h3{
    color: rgb(255, 0, 0);
}
#adres{
    color: rgb(9, 255, 0);
}
.tekst{
    color: rgb(255, 208, 127);
}
.bier{
    color: orange;
}
#Lambiek{
    color: rgb(165, 42, 93);
}
#con{
    color: rgba(206, 62, 33, 0.878);}